<% content_for :page_name, "New Diff" %>

<div class="ui-widget ui-corner-top box">
  <h1><strong>New Diff</strong></h1>

  <div>
    <%= render :partial => 'form', :locals => { :submit_value => "Create" } %>
  </div>
</div>
