<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Review Status Change</h1>
    <p>
      The status of your review for 
      &quot;<%= @changeset.review_event.name %>&quot; has changed to 
      <% if @changeset.accepted? %>
        Accepted
      <% elsif @changeset.rejected? %>
        Rejected
      <% else %>
        Unknown
      <% end %>
      for changeset &quot;<%= @changeset.name %>&quot;. <br />
      Click <%= link_to "here", @url %> <br />
      URL: <%= @url %><br />
    </p>
    <p>
      Signed, <br />
      The Review Swami
    </p>
  </body>
</html>
