<div>
  Thanks for registering for Review!
</div>

<div>
  <%= link_to "Click here", root_url %> to login.
</div>

<div>
  Your username: <%= @user.username %>
</div>

<div>
  Signed, <br />
  The Review Swami
</div>
