<% @changeset.diffs.each do |d| %>
  <%= render :partial => @display_type, :locals => { :diff => d } %>
  <div>
    <a href="#files"><span class="ui-icon ui-icon-carat-1-n inline-icon"></span>Back to Top</a>
  </div>
<% end %>

