<a name="files"></a>
<div class="files">
  <strong>Files:</strong>
  <ul>
    <% @changeset.diffs.each do |d| %>
      <li><a href="#file_<%= d.id %>">
        <span class="ui-icon ui-icon-document left"></span> 
        <%= d.updated_file %></a>
      </li>
    <% end %>
  </ul>
  <% if not @changeset.submitted %>
    <%= link_to "Add New Diff", :new_diff, 
        :class => "ui-state-default ui-corner-all button" %>
  <% end %>
</div>


