<% if not defined?(allow_groups); allow_groups = true; end %>
<div style="margin-bottom:20px;">
  <div id="add_reviewer"><%= add_reviewer_select "Add Reviewer", f %></div>
  <% if allow_groups %>
    <div id="add_group"><%= add_group_select "Add Group", f %></div>
  <% end %>
</div>

<div id="reviewer-container">
  <div id="reviewer-loading" class="hidden">
      <%= image_tag("ajax-loader.gif") %>
  </div>
  <table id="reviewer-table" style="width:100%; margin-bottom:20px;">
    <tr>
      <th></th><th>User</th><th>Member of</th>
      <% if @user_type == :review_event_users %><th>Optional?</th><% end %>
      <th>
        <div class="pull-right">
          Select:
          <a href="javascript:select_reviewers('checked');">All</a> |
          <a href="javascript:select_reviewers('');">None</a>
          &nbsp;&nbsp;
          <a href="javascript:remove_selected_reviewers();" class="btn btn-small">Remove Selected</a>
        </div>
      </th>
    </tr>
    <%= render :partial => "review_events/reviewers_row", 
      :collection => @users, :as => :r, :locals => { :f => f } %>
  </table>
</div>
