<p>
  <strong>Revisions:</strong>
  <ol>
    <% @review_event.changesets.each do |c| %>
      <li class="changeset">
        <% if @changeset == c %>
          <span class="ui-icon ui-icon-bullet left"></span>
          <%= c.name %>
        <% else %>
          <span class="ui-icon ui-icon-radio-on left"></span>
          <%= link_to "#{c.name}", review_event_path(:changeset => c.id) %>
        <% end %>
      </li>
    <% end %>
    <% if current_user == @review_event.owner %>
      <li class="changeset">
        <%= link_to_function "Add new changeset", 
            "create_changeset(this);" %>
        <% if not @changeset.nil? and not @changeset.submitted %>
          | <%= link_to_function "Remove this changeset",
                "remove_changeset('#{@changeset.id}', '#{@review_event.id}');" %>
        <% end %>
        </li>
    <% end %>
  </ol>
</p>

