<% content_for :title, "Edit #{@review_event.name}" %>
<% content_for :page_name do %>
  Edit <%= @review_event.name %>
<% end %>
<% content_for :page_js do %>
  <%= javascript_include_tag "review_edit.js" %>
<% end %>

<h2>Edit Review</h2>
<div class="form-box">
  <%= render :partial => 'form', :locals => { :submit_value => "Update" } %>
</div>
