<% content_for :title, "Edit #{@review_event.name}" %>
<% content_for :page_name do %>
  <%= link_to "Show Review", review_event_path %> | Edit Review
<% end %>

<h1>Edit Review</h1>
<div class="ui-widget box">
  <div>
    <%= render :partial => 'form', :locals => { :submit_value => "Update" } %>
  </div>
</div>
