<% content_for :page_name do %>
  <%= link_to "Show Review", review_event_path %> | Edit Review
<% end %>

<div class="ui-widget ui-corner-top box">
  <h1><strong>Editing Review</strong></h1>

  <div>
    <%= render :partial => 'form', :locals => { :submit_value => "Update" } %>
  </div>
</div>
<!--<%= link_to 'Show', @review_event %> |-->
