<% content_for :page_name, "Edit Review Event" %>

<div class="text-right">
  <%= link_to 'Back', :back %>
</div>
<div class="ui-widget ui-corner-top box">
  <h1><strong>Editing Review</strong></h1>

  <div>
    <%= render :partial => 'form', :locals => { :submit_value => "Update" } %>
  </div>
</div>
<!--<%= link_to 'Show', @review_event %> |-->
