<% content_for :title, "New Review" %>
<% content_for :page_name, "New Review" %>

<h1>New Review</h1>
<div class="ui-widget box">
  <div>
    <%= render :partial => 'form', :locals => { :submit_value => "Create" } %>
  </div>
</div>
