<% content_for :page_name, "New Review Event" %>
<div class="text-right">
  <%= link_to 'Back', :back %>
</div>
<div class="ui-widget ui-corner-top box">
  <h1><strong>New Review</strong></h1>

  <div>
    <%= render :partial => 'form', :locals => { :submit_value => "Create" } %>
  </div>
</div>
