html, body { height: 100%; }

body, .review pre { 
  font-family: 'PT Sans', Lucida Sans, Arial, sans-serif;
}

body {
  font-size: 0.9em;
  color: #444; 
}

section, article, aside, footer, header, nav, hgroup {
  display:block;
}

#wrap { min-height: 100%; }

header {	
  /*TODO background: #353535 url('/images/header_back.png') repeat-x;  */
  background: #24221F url('/images/header_back.png') repeat-x 0 0; 
  height: 45px;
  margin: 0;
  color: #ccc;
}

header a { color: #fff; }

header>div, #main-nav>ul, section,
#awesome-bar .contents {
  min-width: 720px; 
  margin: 0 auto;
  padding: 0 7%;
}

#user-links {
  float: right; 
  margin: 0.5em 1.5em; 
  font-size: 0.8em;
}

#main-nav {
  border-bottom: 1px solid #f5f5f5;
  margin: 0;
  font-size: 0.9em;
  color: #ccc;
}

#main-nav, #main-nav>ul {
  height: 2em;
  line-height: 2em;
  /* background: #353535; */
  background: #4b5f6d url('/images/nav_back.png') repeat-x 0 0;
}

#main-nav li {
  display: block;
  float: left;
  margin: 0;
  padding: 0 15px;
}

#main-nav a {
  padding: 0 0.2em;
  color: #fff;
  display: block;
  padding: 0 15px;
  margin: 0 -15px;
}

#main-nav li:hover, .active {
  background: #24221F;
  text-decoration: none;
}

section {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 0.9em;
  background: url('/images/body_back.png') repeat-x 0 0;
  /* border-top: 1px solid #e5e5e5; */
  /* overflow: auto; */
  padding-bottom: 120px;
}

html, body, section {
  background-color: #f8f8f8;
}

footer {
  background: #363f45 url('/images/footer_back.png') repeat-x 0 0;
  color: #efefef;
  border-top: 1px solid #bbb;
  height: 120px;
  position: relative;
  margin-top: -121px;
  clear: both;
}

footer a { color: #cfcfcf; }

footer ul {
  display: inline-block;
  margin: 0 1.5em 1em;
  text-align: left;
  vertical-align: top;
}

strong { font-weight: bold; }
em { font-style: italic; }
a { color: #5E7C88; text-decoration: none; }
a:hover { text-decoration: underline; }

h1 {
  margin: 0;
  padding: 0.6em 0 0 0;
  /* background: url('/images/title_back.png') repeat-x 0 100%; */
  /* border-bottom: 1px solid #ddd; */
  font-size: 1.7em;
  font-weight: bold;
}

h1 .button {
  float: right;
  padding: 0.3em 0.8em;
  font-size: 0.6em;
  vertical-align: middle;
}

.box > h1 {
  background: url('/images/title_back.png') repeat-x 0 100%;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
  font-weight: normal;
  padding: 0.6em;
}

.box > h1 > .button {
  font-size: 1em;
  margin-top: -0.4em;
}

ul {
  list-style: none;
  padding: 0;
}

.author {
  color: #aaa;
  margin-left: 0.3em;
}

.overdue {
  color: #F27979;
  font-weight: bolder;
  /* border: 1px solid #B34040; */
  /* color: #fff; */
}

.neardue {
  color: #FEB41C;
  font-weight: bolder;
  /* border: 1px solid #EBE986; */
}

.review-event {
  padding: 0.5em;
  border: 1px solid transparent;
}

.review-event:hover {
  background: #F2F6FA;
  /* border: 1px solid #BDDCF0; */
}

.review-event-actions {
  display: inline-block; 
  vertical-align: middle;
  opacity: 0.0;
  margin-left: 1em;
}

.box {
  margin: 1em 0;
  /* border: 1px solid #d5d5d5; */
  border: 1px solid #c5c5c5;
  background: #fff;
  position: relative;
}

.box>div {
  padding: 1em 3em;
}

.box>ul {
  padding: 1em;
}

.line:hover, .new:hover, .old:hover {
  background: #fffff5;
}

.lineno-left, .lineno-right {
  text-align: right;
  color: #999;
  font-size: 0.9em;
  font-weight: bold;
}

.lineno-right {
  margin-right: 1em;
}

.lineno, .lineno-left, .lineno-right {
  background: #efefef;
  border-right: 1px solid #cdcdcd;
}

.lineno:hover, .lineno-left:hover, .lineno-right:hover {
  text-decoration: underline;
}

.diff {
  margin: 0;
  padding: 0;
  color: #111;
  position: relative;
  width: 100%;
}

.diff tr {
  line-height: 1.4em;
}

.diff tr td.lineno-left, .diff tr td.lineno-right {
  border-top: 1px solid #e7e7e7;
}

/* hack for FF to get rid of 1px border in table (due to 1px lineno border) */ 
@-moz-document url-prefix() {
.diff tr td.lineno-left, .diff tr td.lineno-right {
  border-top: 0;
  border-bottom: 1px solid #e7e7e7;
}
}

.diff tr.comment-box-container { line-height: 1.2em; }
.diff tr.comment-box-container td { padding:0; }

.diff pre, .comment-code {
  font-family: "Ubuntu Mono", "Inconsolata", "Consolas", "Monaco", "Droid Sans Mono", "Bitstream Vera Mono", monospace;
  /* font-family: 'Inconsolata','Bitstream Vera Sans Mono','Courier New',monospace; */
  white-space: pre-wrap;  /* wrap really long lines */
}
.diff pre { font-size: 0.8em; }

.old { background: #ffd9d9; }
.old-highlight {
  background: #FF9696;
  display: inline-block;
}

.new { background: #c8ffcc; }
.new-highlight {
  background: #7ef28c;
  display: inline-block;
}

.range {
  background: #e4f3f7;
  color: #777;
}

.line-unified { width: 100%; }
.line-split { width: 50%; }

ul li em {
  font-style: italic;
  color: #999;
}

.review {
  /* background: #E3F2FC; */
  /* border: 1px solid #BDDCF0; */
  margin: 1em 0;
}

.review p, .review pre { margin: 0em 1em 0.6em; }
.review pre { white-space: pre-wrap; }
.review ul { margin: 1em 0; }
.review li { margin: 0.2em 1em; }
.review h1 { 
  font-size: 1.7em;
  padding: 0.2em 0.5em 0.6em 0.5em; 
}

.button {
  display: inline-block;
  padding: 0.4em 0.8em;
}

.button:hover {
  text-decoration: none;
  cursor: default;
}

.not-submitted {
  /* background: #E3F2FC; */
  /* border: 1px solid #BDDCF0; */
  color: #4B5F6D;
  font-weight: bold;
}

.rejected, .warn {
  /* background: #F57373; */
  /* border: 1px solid #CC1F1F; */
  /* color: #fff; */
  color: #F57373;
  font-weight: bolder;
}

.rejected-box {
  background: #F57373;
  border: 1px solid #CC1F1F;
  color: #fff;
  padding: 1em;
}

.rejected-comment {
  border-left: 10px solid #CC1F1F;
}

.warn {
  padding: 0.5em 1em;
  margin-bottom: 1em;
}

.accepted {
  color: #72DE5F;
  font-weight: bolder;
}

.accepted-box {
  background: #BBEDB2;
  border: 1px solid #72DE5F;
  padding: 1em;
  color: #444;
}

.accepted-comment {
  border-left: 10px solid #72DE5F;
}

.abstained-comment {
  border-left: 10px solid #5E7C88;
}

.info, .notice {
  padding: 1em 0;
  /* margin: 1em 0; */
}

.notice {
  background: #FCFBE3;
  border: 1px solid #F7F3BC;
  padding: 1em;
}

.box .field { margin: 1em 0; }
.box .field label { display: block; }

.text { padding: 0.4em; }

#flash_alert {
  border: 1px solid #ff9e9e;
  background: #ffbfbf;
  padding: 0.5em 1em;
}

#flash_notice {
  background: #FCFBE3;
  border: 1px solid #F7F3BC;
  padding: 0.5em 1em;
}

.errorExplanation, #error_explanation {
  padding: 0.8em 1em;
  border: 1px solid #ff9e9e;
  background: #ffbfbf;
}

.hidden { display: none; }
.left { float: left; }
.right { float: right; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.remove-link {
  display: inline-block;
  margin-left: 3em;
}

.reviewer-table { margin: 0.5em 0 1em; }
.changeset { padding: 0.2em 0; }

.files {
  background: #f0f0f0;
  border: 1px solid #ccc;
  padding: 1em;
}

.files li, .view-settings {
  border-top: 1px solid #ccc;
  padding: 0.4em;
  background: #f5f5f5;
}

.files li:last-child, .view-settings {
  border-bottom: 1px solid #ccc;
}

.statuses {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

.comment-box .field, .comment-preview .field { 
  margin: 0em; 
  padding: 0.5em; 
  background: #fff;
}

.comment-box-container { font-size: 0.9em; }
.comment, .comment-box {
  margin: 10px;
  border: 1px solid #e9e0e0;
}

.topbar {
  padding: 0.5em 0.5em 0.6em;
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.comment-actions {
  margin-left: 0.8em; 
  display: inline-block; 
  font-size: 0.9em;
}

.add-comment-button, .right-add-comment-button {
  position: absolute;
  width: 32px;
  opacity: 0;
  cursor: pointer;
}

.add-comment-button {
  left: 0;
  margin-left: -32px;
}

.right-add-comment-button {
  right: -32px;
  margin-left: 32px;
}

.add-comment-button .ui-icon-comment, 
.right-add-comment-button .ui-icon-comment {
  margin-left: -5px;
}

.indent { margin-left: 1.5em; }

.inline-icon {
  display: inline-block;
  margin-bottom: -2px;
}

.changelog { margin: 1em 1em 2.5em; }
.changelog li {
  list-style: circle;
  margin-left: 1em;
}

.comment-text { 
  padding: 0.8em;
  background: #fff;
}

.comment-code {
  margin: 0.2em;
  padding: 0.4em;
  border: 1px solid #ccc;
  background: #dfdfdf;
}

.ajax-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
}

.pagination {
  background: transparent;
  border-top: 1px solid #eee;
  border-bottom: none;
  font-size: 0.9em;
  padding-left: 0.5em;
  margin-bottom: 1em;
}

#recent_activity {
  margin-bottom: 4em;
}

#dashboard-right .pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.graph {
  border: 1px solid #ddd;
  height: 1.2em;
  position: relative;
}

.graph > .bar {
  background: #FEB41C;
  height: 1.2em;
}

.graph > .label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
}

.badge {
  padding:0.2em 0.5em;
  margin:0;
  display: inline-block;
}

.thumbnail { vertical-align: middle; }

.username {
  cursor: default;
  position: relative;
  font-size: 0.9em;
}

.profile {
  position: absolute;
  border: 1px solid #ddd;
  background: #f5f5f5;
  padding: 1em;
  z-index: 100;
  min-width: 300px;
  color: #777;
}

.profile td {
  vertical-align: top;
  padding: 0.1em;
}

.profile-right { right: 0; }
.profile-left { left: 0; }
.odd { background: #f5f5f5; }

#dashboard {
  background: #efefef;
}

#dashboard-left {
  background: #efefef;
  float: left;
  width: 150px;
  padding: 0;
}

#dashboard-left > ul {
  padding: 10px 0;
  line-height: 1.5em;
}

#dashboard-left > ul > ul > li {
  padding-left: 25px;
}

#dashboard-left li {
  padding: 3px 15px;
}

#dashboard-left li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#dashboard-left li.active {
  background: #FEB41C;
}

#dashboard-left li.active > a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#dashboard-left .size {
  float: right;
  font-style: italic;
  font-size: 0.9em;
}

#dashboard-right {
  margin-left: 150px;  /* match dashboard-left width */
  background: #fff;
  padding: 0;
  border-left: 1px solid #ccc;
  position: relative;
  min-height: 100px;
}

#dashboard-right-loading {
  /* display: none; */
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
  z-index: 1000;
}

#dashboard-right-loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px -16px 0 0;
}

#dashboard-right > div {
  /* padding: 10px; */
}

#dashboard-right-contents > table {
  width: 100%;
  margin-bottom: 2em;
  font-size: 0.9em;
}

#dashboard-right td, #dashboard-right th {
  padding: 6px 10px;
}

#dashboard-right th {
  font-size: 0.9em;
  font-weight: bolder;
  background: #ddd;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}


/* fixes for absolution theme */
/* absolution theme available here: https://github.com/michaelvanderheeren/Absolution */
.ui-widget a.button { color: #000; }
.ui-widget a.button:hover { color: #fff; }
.ui-widget a.ui-state-disabled:hover { color: #000; }
.ui-dialog { font-size: 0.9em; }
.ui-dialog-title { font-size: 0.8em; }
.ui-widget a { color: #3674BA; }
.ui-dialog .ui-dialog-buttonpane button {
  font-size: 1.1em;
  font-weight: bold;
}

#ui-datepicker-div {
 z-index: 1000 !important;
}

#awesome-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

#awesome-bar .contents {
  height: 30px;
  line-height: 30px;
  background: #e0e0e0 url('/images/title_back.png') repeat-x;
  border-bottom: 1px solid #ccc;
  padding-top: 3px;
}

#awesome-bar .button {
  font-size: 0.9em;
  line-height: 1em;
  margin-top: -4px;
}

#awesome-bar .shadow {
  height: 20px;
  background: url('/images/shadow.png') repeat-x;
}

.reviewers-list {
  width: 300px;
  z-index: 0;
}

.reviewers li {
  display: inline;
  float: left;
}

.lineno-left a, .lineno-right a {
  color: #999;
  padding: 0 0.8em;
  cursor: pointer;
}

