html, body { height: 100%; }
a { cursor: pointer; }

.text-center { text-align:center; }
.background-white { background:#fff; }
.background-grey { background:#f8f8f8; }

.navbar .brand { padding:8px 20px 12px 0; font-weight: 800; }
.progress { margin-bottom: 0; }

.form-box {
  padding: 20px 35px;
  background: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

#wrap { min-height: 100%; background: #fbfbfb; }
#nav { 
  background: #222 url('/images/header_back.png'); 
  border-bottom: solid 4px #00a5ff;
}

#footer {
  background: #222 url('/images/header_back.png') repeat-x 0 0;
  color: #222;
  border-top: 1px solid #00a5ff;
  height: 120px;
  position: relative;
  margin-top: -121px;
  clear: both;
}
#footer a { color: #cfcfcf; }
#footer ul {
  display: inline-block;
  margin: 1em 1.5em 1em;
  text-align: left;
  vertical-align: top;
}

#section { padding-bottom:120px; }

.table-striped tbody tr:nth-child(odd) th { background:#eee; }
tr > th {
  text-align: left;
}

.clearfix::after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#dashboard-left {
  width: 150px;
  float: left;
  padding: 7px;
}
#dashboard-right {
  margin-left: 165px;
  background: #fff;
  position: relative;
  min-height: 100px;
  border-left: 1px solid #eee;
}
#dashboard-right-loading {
  display: none;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8;
  z-index: 1000;
}
#dashboard-right-loading img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px -16px 0 0;
}
#dashboard-right .pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
}
#dashboard-right-contents > table {
  margin-bottom: 52px;
}

.username {
  cursor: default;
  position: relative;
}
.username .thumbnail {
  display: inline;
  vertical-align: middle;
  padding: 2px;
}

.comment {
  margin: 10px;
  border: 1px solid #ccc;
  background: #f8f8f8;
}
.topbar {
  padding: 0.5em 0.5em 0.6em;
  border-bottom: 1px solid #ccc;
  background: #eee;
}
.comment-text {
  padding: 10px;
  background: #fff;
  white-space: pre-line;
}

.topbar .label {
  padding: 0; /* fix for firefox */
}
.topbar .label-success:before,
.topbar .label-important:before,
.topbar .label-info:before {
  content: "";
  padding: 0;
}

.accepted-comment > .comment[data-comment-type="ChangesetUserStatus"] .label-success:before {
  content: "Accepted";
  padding: 1px 3px 2px;
}
.rejected-comment > .comment[data-comment-type="ChangesetUserStatus"] .label-important:before {
  content: "Rejected";
  padding: 1px 3px 2px;
}
.abstained-comment > .comment[data-comment-type="ChangesetUserStatus"] .label-info:before {
  content: "Requested Removal";
  padding: 1px 3px 2px;
}

.rounded-border {
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

#awesome-bar .contents {
  min-width: 720px; 
  margin: 0 auto;
  padding: 0 7%;
}
#awesome-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
#awesome-bar .contents {
  height: 34px;
  line-height: 30px;
  background: #e0e0e0 url('/images/title_back.png') repeat-x;
  border-bottom: 1px solid #ccc;
  padding-top: 3px;
}
#awesome-bar .button {
  font-size: 0.9em;
  line-height: 1em;
  margin-top: -4px;
}
#awesome-bar .shadow {
  height: 20px;
  background: url('/images/shadow.png') repeat-x;
}

.lineno-left, .lineno-right {
  text-align: right;
  color: #999;
  font-size: 0.9em;
  font-weight: bold;
}
.lineno-right {
  margin-right: 1em;
}
.lineno, .lineno-left, .lineno-right {
  background: #efefef;
  border-right: 1px solid #cdcdcd;
}
.lineno:hover, .lineno-left:hover, .lineno-right:hover {
  text-decoration: underline;
}
.lineno-left a, .lineno-right a {
  color: #999;
  padding: 0 0.8em;
  cursor: pointer;
}

.box {
  border: 1px solid #ddd;
  background: #fff;
}
.box h4 {
  padding: 10px;
  background: #e0e0e0 url('/images/title_back.png') repeat-x;
}
.box h4 .btn {
  margin-top: -5px;
}

.diff {
  margin: 0;
  padding: 0;
  color: #111;
  position: relative;
  width: 100%;
  background: #fff;
}
.diff tr {
  line-height: 1.4em;
}
.diff tr td.lineno-left, .diff tr td.lineno-right {
  border-top: 1px solid #e7e7e7;
}
/* hack for FF to get rid of 1px border in table (due to 1px lineno border) */ 
@-moz-document url-prefix() {
.diff tr td.lineno-left, .diff tr td.lineno-right {
  border-top: 0;
  border-bottom: 1px solid #e7e7e7;
}
}
.diff tr.comment-box-container { line-height: 1.2em; }
.diff tr.comment-box-container td { padding:0; }
.diff pre, .comment-code {
  white-space: pre-wrap;  /* wrap really long lines */
}
.diff td > pre { 
  font-size: 0.8em; 
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
.old { background: #ffd9d9; }
.old-highlight {
  background: #FF9696;
  display: inline-block;
}
.new { background: #c8ffcc; }
.new-highlight {
  background: #7ef28c;
  display: inline-block;
}
.line:hover, .new:hover, .old:hover {
  background: #fffff5;
}
.range {
  background: #e4f3f7;
  color: #777;
}
.comment-code {
  margin: 0.2em;
  padding: 0.4em;
  border: 1px solid #ccc;
  background: #dfdfdf;
  font-family: Menlo,Monaco,"Courier New",monospace;
}

.line-unified { width: 100%; }
.line-split { width: 50%; }

.ajax-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
}

.file {
  padding: 3px 0;
  position: relative;
}
.file:hover {
  background: #DFEBF5;
}
