<% content_for :page_name, "Edit #{@group.name}" %>
<% content_for :page_js do %>
  <%= javascript_include_tag "review_edit.js" %>
<% end %>

<h1>Edit Group</h1>

<div class="form-box">
  <%= render 'form' %>
</div>
