<% content_for :page_name, "New Group" %>
<% content_for :page_js do %>
  <%= javascript_include_tag "review_edit.js" %>
<% end %>

<h1>New Group</h1>

<div class="ui-widget box">
  <div>
    <%= render 'form' %>
  </div>
</div>

