<% level = 0 if level.nil? %>
<% leftline = nil if local_assigns[:leftline].nil? %>
<% rightline = nil if local_assigns[:rightline].nil? %>
<% commentable.comments.where("leftline = ? AND rightline = ?", leftline, rightline).each do |c| %>
  <% if false %>
    <% if leftline.nil? and rightline.nil? %>
      <% next if not c.leftline.nil? or not c.rightline.nil? %>
    <% end %>
    <% next if c.leftline != leftline or c.rightline != rightline %>
  <% end %>
  <%= render :partial => "shared/comment", :locals => { :comment => c,
                                                        :level => level } %>

  <div id="reply_<%= c.id %>"></div>

  <% if c.comments.size > 0 %>
    <%= render :partial => "shared/comments", 
        :locals => { :commentable => c, :level => level + 1 } %>
  <% end %>
<% end %>

