<h1>Tue Jan  3, 2012</h1>
<ul class="changelog">
  <li>Fix #50, Unsubmitted reviews show in inbox. (<a href="http://github.com/andythigpen/Review/commit/c1a76c7ef297560cb829d69dd23ae84243cc9b90" target="_blank">c1a76c7</a>)</li>
</ul>

<h1>Fri Dec 30, 2011</h1>
<ul class="changelog">
  <li>Opens Report Bug links in new tab. (<a href="http://github.com/andythigpen/Review/commit/5cb9223f91ec6bdecb550ae68c87f341035900d5" target="_blank">5cb9223</a>)</li>
  <li>Adds a changelog generator task. (<a href="http://github.com/andythigpen/Review/commit/17a4324445b4926aa81c80657c1d859da7662d89" target="_blank">17a4324</a>)</li>
</ul>

<h1>Thu Dec 29, 2011</h1>
<ul class="changelog">
  <li>Fix #28, Mark comments as deleted. (<a href="http://github.com/andythigpen/Review/commit/83042141f27fb455c504a8883a8a8840c7741b82" target="_blank">8304214</a>)</li>
</ul>

<h1>Tue Dec 27, 2011</h1>
<ul class="changelog">
  <li>Fix #42, Adds All filter for inbox/outbox. (<a href="http://github.com/andythigpen/Review/commit/ff2a289a74f4ac99fd8996d2883ed3f02d07613e" target="_blank">ff2a289</a>)</li>
  <li>Fix #44, Status count only displays accepted. (<a href="http://github.com/andythigpen/Review/commit/31a10bcb27dd7dae4ce9f3a74cd7fa016e7eba8b" target="_blank">31a10bc</a>)</li>
</ul>

<h1>Thu Dec 22, 2011</h1>
<ul class="changelog">
  <li>Modified button colors to match new dashboard. (<a href="http://github.com/andythigpen/Review/commit/23c84826bdaf528ad7c298adc5b7b15cc88b0b50" target="_blank">23c8482</a>)</li>
  <li>Initial work to add status comments. (<a href="http://github.com/andythigpen/Review/commit/1bd8f7bcbef6ac3a18b692f02507a38666b83f09" target="_blank">1bd8f7b</a>)</li>
  <li>Adds ability to double click diff line to comment. (<a href="http://github.com/andythigpen/Review/commit/cf4a50fabae919d28332bc586155a780da5e2ef7" target="_blank">cf4a50f</a>)</li>
  <li>Makes comments on changeset statuses required. (<a href="http://github.com/andythigpen/Review/commit/76c1f58b0f6e45e10b8780be0e92dd73f0ea34dc" target="_blank">76c1f58</a>)</li>
  <li>Removes the ability to delete changeset status comments. (<a href="http://github.com/andythigpen/Review/commit/87c190d0fe65b45d79ad2cd756be4ccbf05fef43" target="_blank">87c190d</a>)</li>
  <li>Fixes layout issues with comments. (<a href="http://github.com/andythigpen/Review/commit/150b8ef7ec5bc372e135d0d351f26dc6cbc5dd84" target="_blank">150b8ef</a>)</li>
</ul>

<h1>Wed Dec 21, 2011</h1>
<ul class="changelog">
  <li>Fix #49, Click to add comment. (<a href="http://github.com/andythigpen/Review/commit/bfeac34a3f4fb783d8bd3f9ddec3ff50ca8fb685" target="_blank">bfeac34</a>)</li>
  <li>Reformats diff comments. (<a href="http://github.com/andythigpen/Review/commit/7f51851bfb2fd6a38803d77847011f0b50a97443" target="_blank">7f51851</a>)</li>
</ul>

<h1>Mon Dec 19, 2011</h1>
<ul class="changelog">
  <li>Adds caching for JS/CSS to improve performance. (<a href="http://github.com/andythigpen/Review/commit/9265e6243b68c43ee3c16f24178d068812f92f90" target="_blank">9265e62</a>)</li>
  <li>Splits JS files into page-relevant scripts. (<a href="http://github.com/andythigpen/Review/commit/476fd61844d00a2e2a7304742b58166aae50a225" target="_blank">476fd61</a>)</li>
  <li>Removes dead js code. (<a href="http://github.com/andythigpen/Review/commit/2ee5925f67ccd93cde1212be5d10adb195b9b327" target="_blank">2ee5925</a>)</li>
  <li>Factors out tooltip setup into separate function. (<a href="http://github.com/andythigpen/Review/commit/eb92bff29c309cb12eac81b8c1fa21874a792b16" target="_blank">eb92bff</a>)</li>
  <li>Simplifies filters. (<a href="http://github.com/andythigpen/Review/commit/313433a05e41e14ffb1448c96fc3f00dad1c4c02" target="_blank">313433a</a>)</li>
  <li>Refactors filters to be much simpler. (<a href="http://github.com/andythigpen/Review/commit/93fa4d48a95eece6c0b313471f62b64cc357b9ca" target="_blank">93fa4d4</a>)</li>
  <li>Fixes missing JS files from new review page. (<a href="http://github.com/andythigpen/Review/commit/f18da206aca26b378675fdf01059eaf50741126c" target="_blank">f18da20</a>)</li>
  <li>Fix #38, ReviewEventUser objects not deleted. (<a href="http://github.com/andythigpen/Review/commit/b4a3dde5f7db2a207aa3aa8415bbe095939d8adb" target="_blank">b4a3dde</a>)</li>
  <li>Fix ordering of outbox filter. (<a href="http://github.com/andythigpen/Review/commit/b369f013b917d24137dc0b31f6d2ad27062a41cd" target="_blank">b369f01</a>)</li>
  <li>Fix #36, Profiles not removed. (<a href="http://github.com/andythigpen/Review/commit/9d81285cec7108e1f68d72bd78b874414bc891f6" target="_blank">9d81285</a>)</li>
</ul>

<h1>Sun Dec 18, 2011</h1>
<ul class="changelog">
  <li>Fix #45, Favicon. (<a href="http://github.com/andythigpen/Review/commit/d929fff5bbf9f448430e08424ebc7ad4ddd57678" target="_blank">d929fff</a>)</li>
  <li>Cleans up controllers and routes. (<a href="http://github.com/andythigpen/Review/commit/a3d22d7079d6fc893ea4100af7f344de0f0e72b1" target="_blank">a3d22d7</a>)</li>
  <li>Removes unused views and dead controller code. (<a href="http://github.com/andythigpen/Review/commit/ef8b6b8c4c7e91d3915fa9c0fb52260db12683bb" target="_blank">ef8b6b8</a>)</li>
  <li>Removes unused helpers. (<a href="http://github.com/andythigpen/Review/commit/8e479426d46383c3c8a02abf24b13e0cc2c37983" target="_blank">8e47942</a>)</li>
</ul>

<h1>Sat Dec  3, 2011</h1>
<ul class="changelog">
  <li>Fixes issue where status output stops when reaching current user. (<a href="http://github.com/andythigpen/Review/commit/32735208f21aabf89ec62c1cdac1810f30448e7b" target="_blank">3273520</a>)</li>
  <li>Opens bug links in new tab/window. (<a href="http://github.com/andythigpen/Review/commit/13d1cb13ba8d9ea1860c6104e4a5ce36cb8a0702" target="_blank">13d1cb1</a>)</li>
</ul>

<h1>Thu Dec  1, 2011</h1>
<ul class="changelog">
  <li>Fixes issue where time is displayed in due date field of review form. (<a href="http://github.com/andythigpen/Review/commit/3841dbab4fc99d109f76811e6e6899fb18a56259" target="_blank">3841dba</a>)</li>
</ul>

<h1>Wed Nov 30, 2011</h1>
<ul class="changelog">
  <li>Resolves minor layout issues and bugs with new dashboard.</li>
</ul>

<h1>Tue Nov 29, 2011</h1>
<ul class="changelog">
  <li>Adds new dashboard layout and updated look-and-feel (Issue #34).</li>
</ul>

<h1>Sat Nov 26, 2011</h1>
<ul class="changelog">
  <li>Fix issue where review event is removed from list when deleting (Issue #26).</li>
</ul>

<h1>Sat Oct 01, 2011</h1>
<ul class="changelog">
  <li>Fix issue where drop-down boxes on new review page overlapped (Issue #29).</li>
</ul>

<h1>Sat Aug 06, 2011</h1>
<ul class="changelog">
  <li>Fix issue where next comment button fails to scroll to last comment (Issue #25).</li>
  <li>Interface improvements.</li>
</ul>

<h1>Sat Jul 30, 2011</h1>
<ul class="changelog">
  <li>Review Events must be submitted with a name (Issue #24).</li>
</ul>

<h1>Thu Jul 28, 2011</h1>
<ul class="changelog">
  <li>Fixes issues with interface.</li>
  <li>Adds tooltips.</li>
  <li>Fixes comment div to wrap around username instead of push beneath.</li>
</ul>

<h1>Wed Jul 27, 2011</h1>
<ul class="changelog">
  <li>Adds ability to request removal from a review event (Issue #22).</li>
  <li>Updates 'Add Reviewer' control to a searchable drop-down.</li>
</ul>

<h1>Sat Jul 9, 2011</h1>
<ul class="changelog">
  <li>Adds pop-up profile information for users, including profession and 
  location.</li>
</ul>

<h1>Fri Jul 8, 2011</h1>
<ul class="changelog">
  <li>Adds thumbnails for user profiles.</li>
</ul>

<h1>Sat Jul 2, 2011</h1>
<ul class="changelog">
  <li>Adds pagination to items on home screen (Issue #20).</li>
  <li>Adds number of reviewers accepted count to home screen (Issue #19).</li>
  <li>Adds user profiles that currently contain first/last name and a preference
  setting for the type of display for diffs (unified/split), (Issue #18).  
  De-emphasizes usernames in favor of full names where available.</li>
  <li>Fixes issue where comments show up for ranges in split-view in 
  one-line diffs.</li>
</ul>

<h1>Fri Jun 10, 2011</h1>
<ul class="changelog">
  <li>Review events are now sorted by updated date descending (Issue #17).</li>
  <li>Adds review event names to email subject (Issue #16).</li>
</ul>

<h1>Wed Jun 8, 2011</h1>
<ul class="changelog">
  <li>Adds ability to download patch files for changesets.</li>
</ul>

<h1>Thu May 5, 2011</h1>
<ul class="changelog">
  <li>Fixes issue where non-owners can delete diffs from unsubmitted 
  changes (Issue #11).</li>
  <li>Fixes review notes not wrapping on review events page (Issue #12).</li>
  <li>Adds changeset names to review request emails and changes the 
  included URL in the email to link directly to the corresponding changeset 
  (Issue #13).</li>
  <li>Fixes issue where users can view non-submitted changesets (Issue #14).</li>
  <li>Fixes issue where adding a new changeset redirects to a URL with 
  multiple "?changeset=" options in the GET request.</li>
</ul>

<h1>Sun May 1, 2011</h1>
<ul class="changelog">
  <li>Disables comment buttons upon submission (Issue #5).</li>
</ul>

<h1>Sat Apr 30, 2011</h1>
<ul class="changelog">
  <li>Fixes password reset email notification failure (Issue #1).</li>
  <li>Fixes formatting of review event notes (Issue #2).</li>
  <li>Adds ability to send periodic reminder emails via a rake task (Issue #4).</li>
</ul>

<h1>Sat Mar 26, 2011</h1>
<ul class="changelog">
  <li>Implements "awesome bar" for easier navigation in large diffs.</li>
  <li>Fixes footer display issue.</li>
  <li>Fixes IE9 javascript error for other browsers.</li>
  <li>Fixes issue where IE would attempt to load stylesheets from a relative path.</li>
</ul>

<h1>Sun Mar 20, 2011</h1>
<ul class="changelog">
  <li>Adds email notification for new comments.</li>
  <li>Improves performance when rendering large changesets with many diffs.</li>
  <li>Adds newly submitted changesets to Recent Activity display on user's 
  home page.</li>
  <li>Improves look of dialogs when submitting requests to server.</li>
  <li>Adds new "Absolution" theme from 
    <a href="https://github.com/michaelvanderheeren/Absolution">here</a>
  </li>
</ul>

<h1>Fri Mar 18, 2011</h1>
<ul class="changelog">
  <li>Fixes filename parsing issue for submitted diffs.</li>
  <li>Changes default view to "split" view for diffs due to popular demand.</li>
  <li>Fixes issue where review events are shown as "accepted" when there are 
  no reviewers associated.</li>
</ul>

<h1>Thu Mar 17, 2011</h1>
<ul class="changelog">
  <li>Adds Recent Activity comment list to user's home screen.</li>
  <li>Adds comment formatting for inserting code snippets and bold statements 
  into comments.</li>
  <li>Adds comment previewing so that formatting can be checked before 
  submission.</li>
</ul>

<h1>Sun Mar 13, 2011</h1>
<ul class="changelog">
  <li>Adds undo button for submitted changeset statuses for reviewers.</li>
  <li>Fixes 1px table row issue in Firefox and Chrome.</li>
  <li>Adds (minimal) support for IE.</li>
  <li>Adds support for uploading patch files when creating new diffs for a 
  review.</li>
  <li>Fixes issue where add comment button is offscreen in Firefox.</li>
  <li>Adds support for "split" view in addition to "unified" view when viewing 
  diffs.</li>
  <li>Updates verbiage in user mailer to include reviewer's name and status 
  upon review submission.</li>
  <li>Accepted/Rejected review requests will now remain on home screen for 
  1 day/1 week, respectively.</li>
  <li>Fixes issue where non-reviewers can submit statuses for review events.</li>
  <li>Fixes issue with colon in filename (for Windows) when submitting new 
  diffs.</li>
  <li>Fixes javascript errors encountered in IE7.</li>
  <li>Updates stylesheet to remove fixed width rendering.</li>
</ul>
