<h1>Sun Mar 13, 2011</h1>
<ul class="changelog">
  <li>Adds undo button for submitted changeset statuses for reviewers.</li>
  <li>Fixes 1px table row issue in Firefox and Chrome.</li>
  <li>Adds (minimal) support for IE.</li>
  <li>Adds support for uploading patch files when creating new diffs for a review.</li>
  <li>Fixes issue where add comment button is offscreen in Firefox.</li>
  <li>Adds support for "split" view in addition to "unified" view when viewing diffs.</li>
  <li>Updates verbiage in user mailer to include reviewer's name and status upon review submission.</li>
  <li>Accepted/Rejected review requests will now remain on home screen for 1 day/1 week, respectively.</li>
  <li>Fixes issue where non-reviewers can submit statuses for review events.</li>
  <li>Fixes issue with colon in filename (for Windows) when submitting new diffs.</li>
  <li>Fixes javascript errors encountered in IE7.</li>
  <li>Updates stylesheet to remove fixed width rendering.</li>
</ul>
