<p class="notice ui-corner-all">Welcome <%= current_user.username %>.</p>

<div class="ui-widget ui-corner-top box">
  <h1>My Pending Reviews</h1>
  <ul class="box-body">
    <li><em>No one has asked you to review their code yet. :(</em></li>
<!--    <li class="ui-corner-all"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span>
    <a href="#">Minor change</a> <span class="author">by Joe Bob</span></li>
    <li class="ui-corner-all overdue"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span>
    <a href="#">Major change to everything</a> <span class="author">by Sally Mae</span></li> -->
  </ul>
</div>

<div class="ui-widget ui-corner-top box">
  <h1>My Review Requests
    <a href="#" class="ui-corner-all ui-state-default button"><span class="ui-icon ui-icon-circle-plus" style="float:left;"></span>Add</a>
  </h1>
  <ul class="box-body">
    <li><em>You haven't submitted any code for review yet!</em></li>
    <!--<li class="ui-corner-all neardue"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span>
    <a href="#">Super awesome stuff</a> <span class="author">by Andrew Thigpen</span></li>
    <li></li>-->
  </ul>
</div>

<div class="ui-widget ui-corner-top box">
  <h1>Recent Reviews</h1>
  <ul class="box-body">
    <li><em>No recent reviews.</em></li>
      <!--<li class="ui-corner-all"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span><a href="#">Recent Review</a> <span class="author">by Author</span></li>
      <li class="ui-corner-all"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span><a href="#">Recent Review</a> <span class="author">by Author</span></li>
      <li class="ui-corner-all"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span><a href="#">Recent Review</a> <span class="author">by Author</span></li>
      <li class="ui-corner-all"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span><a href="#">Recent Review</a> <span class="author">by Author</span></li>-->
  </ul>
</div>

<div class="ui-widget ui-corner-top box">
  <h1>Recent Requests</h1>
  <ul class="box-body">
    <li><em>No recent requests.</em></li>
    <!--<li class="ui-corner-all"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span><a href="#">Recent Request</a> <span class="author">by Author</span></li>
    <li class="ui-corner-all"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span><a href="#">Recent Request</a> <span class="author">by Author</span></li>
    <li class="ui-corner-all"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span><a href="#">Recent Request</a> <span class="author">by Author</span></li>
    <li class="ui-corner-all"><span class="ui-icon ui-icon-carat-1-e" style="float:left; margin-right:0.3em"></span><a href="#">Recent Request</a> <span class="author">by Author</span></li>-->
  </ul>
</div>

