<h1>Version 0.2 Released!</h1>
<ul>
  <li>Released: Sat Jan 21, 2012</li>
  <li>See the list of changes here: <%= link_to "Version 0.2", static_path(:action => "changelog_v0_2") %></li>
</ul>

<br />
<h1>Previous Versions</h1>
<ul>
  <li><%= link_to "Version 0.1.1", static_path(:action => "changelog_v0_1_1") %> - Released Wed Nov 30, 2011</li>
  <li><%= link_to "Version 0.1", static_path(:action => "changelog_v0_1") %> - Released Tue Nov 29, 2011</li>
</ul>
<br />
<% content_for :title, "Changelog" %>
<% content_for :page_name, "Changelog" %>
