<h2>Sat Jan 21, 2012</h2>
<ul class="changelog">
  <li>Fix #57, Static controller route. (<a href="http://github.com/andythigpen/Review/commit/e3f1ff399671e9c1d5ab9355aee72db5a906a2dc" target="_blank">e3f1ff3</a>)</li>
  <li>Fix #58, Bug number regex. (<a href="http://github.com/andythigpen/Review/commit/ded2e81bc92d066c283fbec6d4947d534b265097" target="_blank">ded2e81</a>)</li>
  <li>Fix #56, Add help paragraph. (<a href="http://github.com/andythigpen/Review/commit/fc13691ed0b04ee3501bd601e72b70ca288b261c" target="_blank">fc13691</a>)</li>
</ul>

<h2>Sun Jan 15, 2012</h2>
<ul class="changelog">
  <li>Adds static controller and splits changelog. (<a href="http://github.com/andythigpen/Review/commit/590b56675dbf19348c43dea2653f68a58c971013" target="_blank">590b566</a>)</li>
  <li>Fix #10, Diff overflow formatting. (<a href="http://github.com/andythigpen/Review/commit/fbfd790e2cd91bc47ed34105c2fe1178cc9b9647" target="_blank">fbfd790</a>)</li>
</ul>

<h2>Sat Jan 14, 2012</h2>
<ul class="changelog">
  <li>Fix #53, Calendar styled incorrectly. (<a href="http://github.com/andythigpen/Review/commit/c540fe8704e40b8ccbbb81ae2e8bccce1519527e" target="_blank">c540fe8</a>)</li>
  <li>Updates border color styling for changeset comments. (<a href="http://github.com/andythigpen/Review/commit/704345741500fbe188b8304b6f17ec414afd8285" target="_blank">7043457</a>)</li>
  <li>Force users to comment on removal request (abstain). (<a href="http://github.com/andythigpen/Review/commit/c0b22d6d0e21766e4194ae88ee55524f791d8df2" target="_blank">c0b22d6</a>)</li>
  <li>Fix #48, Markup new/deleted files. (<a href="http://github.com/andythigpen/Review/commit/70375d7223c2195c5687339548112d020544eb5d" target="_blank">70375d7</a>)</li>
  <li>Fix issue where changing diff display type removed other url params. (<a href="http://github.com/andythigpen/Review/commit/53a8fd8d140be94c82ff48cba9f0454c9049f438" target="_blank">53a8fd8</a>)</li>
</ul>

<h2>Mon Jan  9, 2012</h2>
<ul class="changelog">
  <li>Fix #43, #9, Adds user groups. (<a href="http://github.com/andythigpen/Review/commit/5d7ed786a8c145654fff1e517aa314ddc026ca09" target="_blank">5d7ed78</a>)</li>
  <li>Updates style of form labels. (<a href="http://github.com/andythigpen/Review/commit/2ffb0ed58be5d3cb851d82ded33d7431550078e7" target="_blank">2ffb0ed</a>)</li>
  <li>Updates border for hover elements to match dashboard colors. (<a href="http://github.com/andythigpen/Review/commit/ddd51121d313c54a09dac88ed58bc6bedeb43cb8" target="_blank">ddd5112</a>)</li>
  <li>Adds missing groups.js (<a href="http://github.com/andythigpen/Review/commit/6a3161932608139e962ca000528c5d557616d133" target="_blank">6a31619</a>)</li>
</ul>

<h2>Fri Jan  6, 2012</h2>
<ul class="changelog">
  <li>Fix #52, Changeset submit missing template. (<a href="http://github.com/andythigpen/Review/commit/01ff9f046b6ef6a62ba20dc752e58b8446fc79f1" target="_blank">01ff9f0</a>)</li>
</ul>

<h2>Tue Jan  3, 2012</h2>
<ul class="changelog">
  <li>Fix #50, Unsubmitted reviews show in inbox. (<a href="http://github.com/andythigpen/Review/commit/c1a76c7ef297560cb829d69dd23ae84243cc9b90" target="_blank">c1a76c7</a>)</li>
  <li>Fixes issues with comments. (<a href="http://github.com/andythigpen/Review/commit/3defbf95f20b30b595818e0f0e3d33b51a21f010" target="_blank">3defbf9</a>)</li>
</ul>

<h2>Fri Dec 30, 2011</h2>
<ul class="changelog">
  <li>Opens Report Bug links in new tab. (<a href="http://github.com/andythigpen/Review/commit/5cb9223f91ec6bdecb550ae68c87f341035900d5" target="_blank">5cb9223</a>)</li>
  <li>Adds a changelog generator task. (<a href="http://github.com/andythigpen/Review/commit/17a4324445b4926aa81c80657c1d859da7662d89" target="_blank">17a4324</a>)</li>
</ul>

<h2>Thu Dec 29, 2011</h2>
<ul class="changelog">
  <li>Fix #28, Mark comments as deleted. (<a href="http://github.com/andythigpen/Review/commit/83042141f27fb455c504a8883a8a8840c7741b82" target="_blank">8304214</a>)</li>
</ul>

<h2>Tue Dec 27, 2011</h2>
<ul class="changelog">
  <li>Fix #42, Adds All filter for inbox/outbox. (<a href="http://github.com/andythigpen/Review/commit/ff2a289a74f4ac99fd8996d2883ed3f02d07613e" target="_blank">ff2a289</a>)</li>
  <li>Fix #44, Status count only displays accepted. (<a href="http://github.com/andythigpen/Review/commit/31a10bcb27dd7dae4ce9f3a74cd7fa016e7eba8b" target="_blank">31a10bc</a>)</li>
</ul>

<h2>Thu Dec 22, 2011</h2>
<ul class="changelog">
  <li>Modified button colors to match new dashboard. (<a href="http://github.com/andythigpen/Review/commit/23c84826bdaf528ad7c298adc5b7b15cc88b0b50" target="_blank">23c8482</a>)</li>
  <li>Initial work to add status comments. (<a href="http://github.com/andythigpen/Review/commit/1bd8f7bcbef6ac3a18b692f02507a38666b83f09" target="_blank">1bd8f7b</a>)</li>
  <li>Adds ability to double click diff line to comment. (<a href="http://github.com/andythigpen/Review/commit/cf4a50fabae919d28332bc586155a780da5e2ef7" target="_blank">cf4a50f</a>)</li>
  <li>Makes comments on changeset statuses required. (<a href="http://github.com/andythigpen/Review/commit/76c1f58b0f6e45e10b8780be0e92dd73f0ea34dc" target="_blank">76c1f58</a>)</li>
  <li>Removes the ability to delete changeset status comments. (<a href="http://github.com/andythigpen/Review/commit/87c190d0fe65b45d79ad2cd756be4ccbf05fef43" target="_blank">87c190d</a>)</li>
  <li>Fixes layout issues with comments. (<a href="http://github.com/andythigpen/Review/commit/150b8ef7ec5bc372e135d0d351f26dc6cbc5dd84" target="_blank">150b8ef</a>)</li>
</ul>

<h2>Wed Dec 21, 2011</h2>
<ul class="changelog">
  <li>Fix #49, Click to add comment. (<a href="http://github.com/andythigpen/Review/commit/bfeac34a3f4fb783d8bd3f9ddec3ff50ca8fb685" target="_blank">bfeac34</a>)</li>
  <li>Reformats diff comments. (<a href="http://github.com/andythigpen/Review/commit/7f51851bfb2fd6a38803d77847011f0b50a97443" target="_blank">7f51851</a>)</li>
</ul>

<h2>Mon Dec 19, 2011</h2>
<ul class="changelog">
  <li>Adds caching for JS/CSS to improve performance. (<a href="http://github.com/andythigpen/Review/commit/9265e6243b68c43ee3c16f24178d068812f92f90" target="_blank">9265e62</a>)</li>
  <li>Splits JS files into page-relevant scripts. (<a href="http://github.com/andythigpen/Review/commit/476fd61844d00a2e2a7304742b58166aae50a225" target="_blank">476fd61</a>)</li>
  <li>Removes dead js code. (<a href="http://github.com/andythigpen/Review/commit/2ee5925f67ccd93cde1212be5d10adb195b9b327" target="_blank">2ee5925</a>)</li>
  <li>Factors out tooltip setup into separate function. (<a href="http://github.com/andythigpen/Review/commit/eb92bff29c309cb12eac81b8c1fa21874a792b16" target="_blank">eb92bff</a>)</li>
  <li>Simplifies filters. (<a href="http://github.com/andythigpen/Review/commit/313433a05e41e14ffb1448c96fc3f00dad1c4c02" target="_blank">313433a</a>)</li>
  <li>Refactors filters to be much simpler. (<a href="http://github.com/andythigpen/Review/commit/93fa4d48a95eece6c0b313471f62b64cc357b9ca" target="_blank">93fa4d4</a>)</li>
  <li>Fixes missing JS files from new review page. (<a href="http://github.com/andythigpen/Review/commit/f18da206aca26b378675fdf01059eaf50741126c" target="_blank">f18da20</a>)</li>
  <li>Fix #38, ReviewEventUser objects not deleted. (<a href="http://github.com/andythigpen/Review/commit/b4a3dde5f7db2a207aa3aa8415bbe095939d8adb" target="_blank">b4a3dde</a>)</li>
  <li>Fix ordering of outbox filter. (<a href="http://github.com/andythigpen/Review/commit/b369f013b917d24137dc0b31f6d2ad27062a41cd" target="_blank">b369f01</a>)</li>
  <li>Fix #36, Profiles not removed. (<a href="http://github.com/andythigpen/Review/commit/9d81285cec7108e1f68d72bd78b874414bc891f6" target="_blank">9d81285</a>)</li>
</ul>

<h2>Sun Dec 18, 2011</h2>
<ul class="changelog">
  <li>Fix #45, Favicon. (<a href="http://github.com/andythigpen/Review/commit/d929fff5bbf9f448430e08424ebc7ad4ddd57678" target="_blank">d929fff</a>)</li>
  <li>Cleans up controllers and routes. (<a href="http://github.com/andythigpen/Review/commit/a3d22d7079d6fc893ea4100af7f344de0f0e72b1" target="_blank">a3d22d7</a>)</li>
  <li>Removes unused views and dead controller code. (<a href="http://github.com/andythigpen/Review/commit/ef8b6b8c4c7e91d3915fa9c0fb52260db12683bb" target="_blank">ef8b6b8</a>)</li>
  <li>Removes unused helpers. (<a href="http://github.com/andythigpen/Review/commit/8e479426d46383c3c8a02abf24b13e0cc2c37983" target="_blank">8e47942</a>)</li>
</ul>

<h2>Sat Dec  3, 2011</h2>
<ul class="changelog">
  <li>Fixes issue where status output stops when reaching current user. (<a href="http://github.com/andythigpen/Review/commit/32735208f21aabf89ec62c1cdac1810f30448e7b" target="_blank">3273520</a>)</li>
  <li>Opens bug links in new tab/window. (<a href="http://github.com/andythigpen/Review/commit/13d1cb13ba8d9ea1860c6104e4a5ce36cb8a0702" target="_blank">13d1cb1</a>)</li>
</ul>

<h2>Thu Dec  1, 2011</h2>
<ul class="changelog">
  <li>Fixes issue where time is displayed in due date field of review form. (<a href="http://github.com/andythigpen/Review/commit/3841dbab4fc99d109f76811e6e6899fb18a56259" target="_blank">3841dba</a>)</li>
</ul>


