<% content_for :title, "Edit Profile" %>
<% content_for :page_name do %>
  Edit Profile
<% end %>

<div class="ui-widget box">
  <h1><strong>User Profile</strong></h1>

  <div>
    <%= render :partial => 'form', :locals => { :submit_value => "Update" } %>
  </div>
</div>

<div class="ui-widget box">
  <h1><strong>Account Details</strong></h1>
  <div>
    <p><%= link_to "Change username/password", 
                edit_user_registration_path %></p>
    <br />
    <p><%= link_to "Delete user account", 
                edit_user_registration_path %></p>
  </div>
</div>

