<%# TODO consolidate similar styles from main.css into single stylesheet %>
<style>
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
code, pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
}
pre {
  display: block;
  padding: 8.5px;
  margin: 0 0 9px;
  font-size: 12px;
  line-height: 18px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
}
.topbar .label {
  padding: 0; /* fix for firefox */
}
.topbar .label-success:before,
.topbar .label-important:before,
.topbar .label-info:before {
  content: "";
  padding: 0;
}

.accepted-comment > .comment[data-comment-type="ChangesetUserStatus"] .label-success:before {
  content: "Accepted";
  padding: 1px 3px 2px;
}
.rejected-comment > .comment[data-comment-type="ChangesetUserStatus"] .label-important:before {
  content: "Rejected";
  padding: 1px 3px 2px;
}
.abstained-comment > .comment[data-comment-type="ChangesetUserStatus"] .label-info:before {
  content: "Requested Removal";
  padding: 1px 3px 2px;
}


.label {
  padding: 1px 3px 2px;
  font-size: 10.75px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #999999;
}
.label-important { background-color: #b94a48; }
.label-warning { background-color: #f89406; }
.label-success { background-color: #468847; }
.label-info { background-color: #3a87ad; }
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}
.alert, .alert-heading {
  color: #c09853;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success, .alert-success .alert-heading {
  color: #468847;
}
.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
  color: #3a87ad;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block > p, .alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
#wrap { position:relative; }
#nav { 
  background: #222 url('<%= root_url %>/images/header_back.png'); 
  border-bottom: 4px solid #00A5FF;
  margin-bottom: 18px;
}
#nav .brand:hover {
  text-decoration: none;
}
#nav .brand {
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #ffffff;
}
#navbar-inner {
  padding: 0 20px;
  background: #2c2c2c;
}
.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
  *zoom: 1;
}
.container-fluid:before, .container-fluid:after {
  display: table;
  content: "";
}
.container-fluid:after {
  clear: both;
}
.comment {
  margin: 10px;
  border: 1px solid #ccc;
  background: #f8f8f8;
}
.topbar {
  padding: 0.5em 0.5em 0.6em;
  border-bottom: 1px solid #ccc;
  background: #eee;
}
.comment-text {
  padding: 10px;
  background: #fff;
  white-space: pre-line;
}
.comment-code {
  margin: 0.2em;
  padding: 0.4em;
  border: 1px solid #ccc;
  background: #dfdfdf;
  font-family: Menlo,Monaco,"Courier New",monospace;
}
</style>

<div id="wrap">
  <div id="nav">
    <div id="navbar-inner">
      <%= link_to "Review", root_url, :class => "brand" %>
    </div>
  </div>

  <div id="section" class="container-fluid">
    <%= yield %>
  </div>
</div>

